.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
    width: 290px;
    margin: 0 auto;
    text-align: center;
}

.empty h1{
    font-size: 80px;
    margin-bottom: 24px;
}

.empty h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 11px;
}

.empty p{
    color: rgba(0, 0, 0, 0.40);
    font-size: 16px;
    margin-bottom: 40px;
}